* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}
#container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 40%),
      rgba(0, 0, 0, 40%)
    ),
    url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container .social {
  position: absolute;
  right: 0;
  top: 3rem;
  background-color: #666696;
  padding: 1rem 2rem;
  display: flex;
  gap: 1.5rem;
  border: 3px solid #e9ddce;
  border-right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
#container .social a {
  color: #e9ddce;
  font-size: 2rem;
  display: inline-block;
  transition: color 0.5s;
}
#container .social a:hover {
  color: #cec5b9;
}
#container main {
  margin-top: auto;
  background-color: rgba(217, 217, 217, 60%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 1rem;
}
#container main .date {
  font-size: 2rem;
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
}
#container main .clock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: rgba(58, 58, 58, 70%);
}
#container main .clock span {
  font-size: 10rem;
}
#container main .clock .box {
  background-color: #f0eaea;
  font-size: 10rem;
  padding: 2rem 3rem;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright {
  margin-top: auto;
  margin-bottom: 1rem;
  color: #f0eaea;
}

@media (max-width: 945px) {
  html {
    font-size: 13px;
  }
  #copyright {
    font-size: 2rem;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 10px;
  }
  #container .social a {
    font-size: 3rem;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 8px;
  }
  #container .social a {
    font-size: 4rem;
  }
  #copyright {
    font-size: 3rem;
  }
}
@media (max-width: 465px) {
  html {
    font-size: 5px;
  }
  #container .social a {
    font-size: 6rem;
  }
  #container main {
    border-radius: 20px;
  }
  #container main .clock .box {
    border-radius: 20px;
  }
  #copyright {
    font-size: 4rem;
  }
}
@media (max-width: 290px) {
  html {
    font-size: 3px;
  }
  #container .social a {
    font-size: 6rem;
  }
  #container main {
    padding: 3rem;
  }
  #container main .clock .box {
    border-radius: 10px;
  }
  #copyright {
    font-size: 4rem;
  }
}
